<div class="row">
  <div class="col-sm-12">
    <h2 class="d-flex align-items-center">
      <%= t(".todays_follow_ups") %>
    </h2>
  </div>
</div>

<div class="table-responsive mt-4">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th style="width: 20%;"><%= t(".last_call") %></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <%= content_tag :tr, id: dom_id(contact), class: dom_class(contact) do %>
          <td><%= link_to render_person_name(contact, skip_title: false), contact, class: "person-name uncolored" %></td>
          <td><%= last_contact_call_date contact %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= render "pagination" %>
</div>
