<%= form_with model: @contact.comments.build(creator: Current.user), class: 'comment-form' do |f| %>
  <%= f.hidden_field :creator_id %>
  <%= f.hidden_field :commentable_id %>

  <div class="field">
    <%= f.rich_text_area :content, placeholder: t(".take_notes") %>
  </div>

  <div class="mt-2 d-flex flex-column">
    <%= f.submit t(".add_this_comment"), class: 'btn btn-primary' %>

    <span class="mt-1">
      <small><%= raw t(".other_users", user: Current.account.name) %></small>
    </span>
  </div>
<% end %>
