<h2><%= t(".privacy_policy") %></h2>
<p><%= raw t(".your_privacy") %></p>
<p><%= t(".we_only_ask") %></p>
<p><%= t(".we_only_retain") %></p>
<p><%= t(".we_dont_share") %></p>
<p><%= t(".our_website_may") %></p>
<p><%= t(".you_are_free") %></p>
<p><%= t(".your_continued_use") %></p>
<p><%= t(".this_policy_is") %></p>
