<h2><%= t(".terms_of_service") %></h2>
<h3><%= t(".1_terms") %></h3>
<p><%= raw t(".by_accessing_the") %></p>
<h3><%= t(".2_use_license") %></h3>
<ol type="a">
   <li><%= t(".premission_is_granted") %>
   <ol type="i">
       <li><%= t(".modify_or_copy") %></li>
       <li><%= t(".use_the_materials") %></li>
       <li><%= t(".attempt_to_decompile") %></li>
       <li><%= t(".remove_any_copyright") %></li>
       <li><%= t(".transfer_the_materials") %></li>
   </ol>
    </li>
   <li><%= t(".this_license_shall") %></li>
</ol>
<h3><%= t(".3_disclaimer") %></h3>
<ol type="a">
   <li><%= t(".the_materials_on") %></li>
   <li><%= t(".further_by_sestra") %></li>
</ol>
<h3><%= t(".4_limitations") %></h3>
<p><%= t(".in_no_event") %></p>
<h3><%= t(".5_accuracy_of_materials") %></h3>
<p><%= t(".the_materials_appearing") %></p>
<h3><%= t(".6_links") %></h3>
<p><%= t(".by_sestra_sro_has_not") %></p>
<h3><%= t(".7_modifications") %></h3>
<p><%= t(".by_sestra_sro_may_revise") %></p>
<h3><%= t(".8_governing_law") %></h3>
<p><%= t(".these_terms_and_conditions") %></p>
