<div class="row">
  <div class="col-sm-6">
    <h1><%= contacts_index_heading(params) %></h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_contact_path, class: 'btn btn-primary' do %>
    Add New Contact
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 mt-4 contacts__search">
    <%= render 'search' %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Name</th>
            <th>Phone number</th>
            <th>Email address</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <%= content_tag :tr, id: dom_id(contact), class: dom_class(contact) do %>
          

                      <td><%= contact.name.full %></td>
                      <td><%= contact.phone_number %></td>
                      <td><%= contact.email_address %></td>
          
          
            <td>
              <%= link_to 'Show', contact %>
            </td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= render 'pagination' %>
</div>
