<p><%= t(".hello", email: @resource.email) %></p>

<p><%= t(".someone_has_requested") %></p>

<p><%= link_to t(".change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".if_you_didnt_request") %></p>
<p><%= t(".your_password") %></p>
